<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="meta_header(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/disbot.css}" rel="stylesheet">
    <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <!-- firebase auth UI -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />
    <title th:text="${title}">DisBot</title>
</head>
<body class="dis-bg-color">
    <header th:fragment="header" class="container-fluid">
        <!-- firebase の認証ライブラリー(CDN) -->
        <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>

        <!-- filebase auth js import-->
        <script type="text/javascript" th:src="@{/js/firebaseConfig.js}"></script>
        <script type="text/javascript" th:src="@{/js/firebaseUi.js}"></script>

        <div>
            <div class="row dis-border-bottom">
                <div class="col d-flex justify-content-between align-items-end mb-3">
                    <div class="dis-header-img">
                        <!-- ディスコードの画像  -->
                        <!--					<img th:src="@{/images/discord_icon.png}" width="100" height="100">-->
                    </div>
                    <div>
                        <!-- ヘッダーのメニュータグ -->
                        <nav class="nav nav-pills nav-justified">
                            <a class="px-5 py-3 nav-item nav-link dis-componet-color dis-content-text" href="#">Active</a>
                            <a class="ml-5 px-5 py-3 nav-item nav-link dis-content-text" href="#">Link</a>
                            <a class="ml-5 px-5 py-3 nav-item nav-link dis-content-text" href="#">Link</a>
                            <a class="ml-5 px-5 py-3 nav-item nav-link dis-content-text" href="#">Disabled</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!--    コンテンツ内容-->


    <footer th:fragment="footer" class="container-fluid">
        <div class="row dis-border-top">
            <div class="mt-3 col">footer</div>
        </div>
    </footer>
</body>
</html>